includes:
  - vendor/larastan/larastan/extension.neon
  - vendor/nesbot/carbon/extension.neon

parameters:
  paths:
    - app/
    - tests/
    - routes/
    - database/
    - config/

  # Level 9 is the highest level
  level: 8

  scanFiles:
    - tests/Pest.php

  checkMissingTypehints: true
  inferPrivatePropertyTypeFromConstructor: true

  ignoreErrors:
    -
      message: '#Class PHP_CodeSniffer\\Standards\\Generic\\Sniffs\\Files\\LineLengthSniff not found.#'
      path: phpinsights.php

    # Pest implicitly binds $this to the current test case
    # @see https://pestphp.com/docs/underlying-test-case
    -
      message: '#Call to an undefined method Pest\\PendingCalls\\TestCall::.*#'
      path: *tests/*

    -
      message: '#Access to an undefined property Pest\\PendingCalls\\TestCall::.*#'
      path: *tests/*
      reportUnmatched: false

    # Pest expectation chain methods
    -
      message: '#Access to an undefined property Pest\\Mixins\\Expectation.*#'
      path: *tests/*
      reportUnmatched: false

    # Mockery dynamic method returns
    -
      message: '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage::andReturn\(\).#'
      path: *tests/*

    # Mockery mock type coercion
    -
      message: '#Parameter .* expects .*, Mockery\\MockInterface given.#'
      path: *tests/*

    # Nullable return from getPrevious()
    -
      message: '#Cannot call method getMessage\(\) on Symfony\\Component\\ErrorHandler\\Exception\\FlattenException\|null.#'
      path: *tests/*
