includes:
  - vendor/larastan/larastan/extension.neon
  - vendor/nesbot/carbon/extension.neon

parameters:
  paths:
    - app/
    - tests/
    - routes/
    - database/
    - config/

  # Level 9 is the highest level
  level: 8

  scanFiles:
    - tests/Pest.php

  checkMissingTypehints: true
  inferPrivatePropertyTypeFromConstructor: true

  ignoreErrors:
    -
      message: '#Class PHP_CodeSniffer\\Standards\\Generic\\Sniffs\\Files\\LineLengthSniff not found.#'
      path: phpinsights.php

    # Pest implicitly binds $this to the current test case
    # @see https://pestphp.com/docs/underlying-test-case
    -
      message: '#Call to an undefined method PHPUnit\\Framework\\TestCase::.*#'
      path: *tests/*

    -
      message: '#Access to an undefined property PHPUnit\\Framework\\TestCase::.*#'
      path: *tests/*
